<section class="search-bar row gutter clipped-content padded" data-hexo-search-bar>
  <form>
    <div class="hexo-search">
      <input type="text"
             placeholder="Search hexo"
             class="hexo-search-input"
             data-ng-model="searchCtrl.value"
             data-ng-model-options="{ debounce: { default: 300 }, getterSetter: true}"
             data-hexo-search />
    </div>
  </form>
</section>
