<%- partial('_partial/top') %>
<%- partial('_partial/search_bar') %>
<div class="stage-content gutter" ng-controller="SearchController as searchCtrl">
  <div class="search-results" data-hexo-search-results="searchCtrl.results">
    Loading search results...
  </div>
</div>
<%- partial('_partial/bottom') %>
